@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color:#FBE8A6;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #FF884D;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#searchResultsContainer {
    background-color: #FBE8A6;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchResultsContainer h2 {
    margin-top: 0;
    color: #FBE8A6;
}

#searchResultsContainer ul {
    list-style-type: none;
    padding: 0;
}

#searchResultsContainer ul li {
    margin-bottom: 10px;
}

#searchResultsContainer ul li a {
    color: #0056b3;
    text-decoration: none;
}

#searchResultsContainer ul li a:hover {
    text-decoration: underline;
}

#searchResultsContainer p {
    text-align: center;
    color: #999;
}

.dropbtn {
    background-color: #FF884D; /* Change background color to dark orange */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right; /* Move the menu button to the right */
}

.dropdown {
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
    padding: 1px;
    margin-top: 15px;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: #FF884D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Displace the dropdown downwards */
    right: 0; /* Align the dropdown with the left edge of its parent */
}
.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: auto; /* Center the image horizontally */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: lightsalmon; /* Change hover background color to light orange */
}

.dropdown:hover .profile-dropdown {
    display: block;
}